.searchContainer{
    margin: 20px auto;
    width: 300px;
    position:relative;
    display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #fff;
}
.input{
    border:none;
    border-bottom: 1px solid #e3e4dc;
    padding: 10px 20px;
    width:100%;
    outline:none;
    font-size:16px;
    color:#393e46
}
.icon {
  margin-right: 8px;
  font-size: 18px;
}